.movies-tvshow-cards-main-container{
  padding: var(--main-container-padding-MTCV1);
  font-family: 'Inter' !important;
  background-color: var(--main-container-backgroud-color-MTCV1);
  min-height: 100vh;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container{
  padding: var(--card-container-padding-MTCV1);
  transition: var(--main-container-tansition-time-MTCV1) ease-in-out;
  cursor: pointer;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container:hover{
  transform: var(--main-container-transform-on-hover-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container{
  position: relative;
  width: var(--card-width-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-header-container{
  display: flex;
  justify-content: space-between;
  color: var(--card-header-font-color-MTCV1);
  font-size: var(--card-header-font-size);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-image-container{
  width: var(--card-width-MTCV1);
  height: var(--card-image-height-MTCV1);
  padding: var(--card-image-top-bottom-padding-MTCV1) 0px;
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-image-container .card-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--card-image-border-radius-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-footer-container{
  width: var(--card-width-MTCV1);
}

.movies-tvshow-cards-main-container .movies-tvshow-cards-container .card-main-container .card-container .card-footer-container .card-title{
  width: var(--card-width-MTCV1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--card-title-font-color-MTCV1);
  font-size: var(--card-title-font-size-MTCV1);
}

.movies-tvshow-cards-pagination {
  width: 100%;
  overflow-x: auto;
  display: flex;
  margin-top: 30px;
  padding: 5px 0px;
}


.movies-tvshow-cards-pagination .page-number{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  min-width: 40px;
  color: white;
  border: 1px solid var(--menuLinksHoverColor-gs-menu);
  margin: 0px 3px;
  cursor: pointer;
}

.movies-tvshow-cards-pagination .page-number.active{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,151,255,1) 0%, rgba(28,184,255,1) 29%, rgba(26,186,255,1) 66%, rgba(0,212,255,1) 100%);
}

.movies-tvshow-cards-pagination .page-number:hover{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(60,151,255,1) 0%, rgba(28,184,255,1) 29%, rgba(26,186,255,1) 66%, rgba(0,212,255,1) 100%);
}

.movies-tvshow-cards-main-container .movies-tv-show-filter-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0px;
}

.genreSelect{
  width: 100%;
}

.movies-tv-show-filter-container .filter-item{
  width: 24%;
}

@media screen and (max-width: 500px) {
  .movies-tv-show-filter-container .filter-item{
    width: 100%;
    margin-top: 20px;
  }
}
