<div class="folders-and-files-main-container">
  <button (click)="refreshFilesAndFolders()" class="gs-minimalist-button gs-minimalist-button-filled gs-onhover-fade">
    <span class="gs-minimalist-button-text"><i nz-icon nzType="reload" nzTheme="outline"></i> Refresh Folders And Files</span>
  </button>

  <div>
    <table class="folders-and-files-table">
      <thead>
        <tr>
          <th class="type-th">Type</th>
          <th class="name-th">Name</th>
          <th class="info-th">Info</th>
        </tr>
      </thead>
      <tbody *ngIf="onlyServers">
        <tr *ngFor="let data of ServersList" (click)="ServerClicked(data)">
          <td class="type-td"><img [src]="GetIconSRC('Server')" class="folders-files-icon"></td>
          <td class="name-td">{{data}}</td>
          <td class="info-td"><img [src]="GetIconSRC('info')" class="folders-files-icon"></td>
        </tr>
      </tbody>

      <tbody *ngIf="!onlyServers">
        <tr *ngFor="let data of FoldersFilesObj.Folders" (click)="FolderClicked(FoldersFilesObj.ServerId, data.Folder_Id)">
          <td class="type-td"><img [src]="GetIconSRC('folder')" class="folders-files-icon"></td>
          <td class="name-td">{{data.Folder_Name}}</td>
          <td class="info-td"><img [src]="GetIconSRC('info')" class="folders-files-icon"></td>
        </tr>
        <tr *ngFor="let data of FoldersFilesObj.Files" (click)="getFileLinks(data.Files_Id)">
          <td class="type-td"><img [src]="GetIconSRC(data.File_Type)" class="folders-files-icon"></td>
          <td class="name-td">{{data.Files_Name}}</td>
          <td class="info-td"><img [src]="GetIconSRC('info')" class="folders-files-icon"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

