.folders-and-files-main-container{
  display: block;
  height: max-content;
  padding: 0% 5%;
}

.gs-minimalist-button{
  position: relative;
  display: inline-block;
  border: var(--button-border-size-gs-minimalist-buttons) solid var(--button-border-color-gs-minimalist-buttons);
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  width: max-content;
  height: max-content;
  padding: calc(var(--button-font-size-gs-minimalist-buttons) / 3) calc(var(--button-font-size-gs-minimalist-buttons));
}

.gs-minimalist-button .gs-minimalist-button-text{
  position: relative;
  display: inline-block;
  font-size: var(--button-font-size-gs-minimalist-buttons);
  letter-spacing: calc(var(--button-font-size-gs-minimalist-buttons) / 10);
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--button-onhover-tansition-time-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-filled{
  background-color: var(--button-fill-color-gs-minimalist-buttons);
}

.gs-minimalist-button .gs-minimalist-button-text{
  color: var(--button-text-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-filled::before{
  content: "";
  background-color: var(--button-hover-color-gs-minimalist-buttons);
  width: 0%;
  height: 0%;
  position: absolute;
  transition: var(--button-onhover-tansition-time-gs-minimalist-buttons) ease-in-out;
}

.gs-minimalist-button.gs-minimalist-button-filled:hover .gs-minimalist-button-text{
  color: var(--button-hover-text-color-gs-minimalist-buttons);
}

.gs-minimalist-button.gs-minimalist-button-filled.gs-onhover-fade::before{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.gs-minimalist-button.gs-minimalist-button-filled:hover:before{
  height: 100%;
  width: 100%;
  opacity: 1;
}

.folders-and-files-table{
  width: 100%;
  margin-top: 20px;
}

.folders-and-files-table th{
  background-color: #121212;
}

.folders-and-files-table .type-td{
  text-align: center;
}

.folders-and-files-table .info-td{
  text-align: center;
}

.folders-and-files-table th,td{
  color: white;
  padding: 10px 10px;
  border: 1px solid var(--menuLinksHoverColor-gs-menu);
}

.folders-and-files-table tr{
  cursor: pointer;
}

.folders-and-files-table tr:hover{
  background-color: #303030;
}

.folders-and-files-table .type-th{
  width: 10%;
}

.folders-and-files-table .info-th{
  width: 10%;
}

.folders-and-files-table .name-th{
  width: 80%;
}

.folders-and-files-table .name-td{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 1px;
}

.folders-files-icon{
  height: 30px;
  width: 30px;
}

.currentLoactionContainer{
  background-color: #121212;
  padding: 20px 5px;
  border: 1px solid var(--menuLinksHoverColor-gs-menu);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.currentLoactionContainer .folder-CurrentLocation{
  color: var(--menuLinksHoverColor-gs-menu);
  cursor: pointer;
}

.currentLoactionContainer .folder-CurrentLocation .slash{
  padding: 0px 5px;
  color: white;
}
