<p>folders-and-files works!</p>

<button (click)="refreshFilesAndFolders()">Refresh Folders And Files</button>

<div>
  <ul *ngIf="onlyServers">
    <li *ngFor="let data of ServersList">
      <!-- <a routerLink="/FoldersAndFiles?ServerId={{data}}">{{data}}</a> -->
      <a (click)="ServerClicked(data)">{{data}}</a>
    </li>
  </ul>

  <ul *ngIf="!onlyServers">
    <li *ngFor="let data of FoldersFilesObj.Folders">
      <!-- <a routerLink="/FoldersAndFiles?ServerId={{FoldersFilesObj.ServerId}}&ServerId: data={{data.Folder_Id}}">({{data.Folder_Id}}) {{data.Folder_Name}}</a> -->
      <a (click)="FolderClicked(FoldersFilesObj.ServerId, data.Folder_Id)">({{data.Folder_Id}}) {{data.Folder_Name}}</a>
    </li>
    <hr>
    <li *ngFor="let data of FoldersFilesObj.Files">
      <a (click)="getFileLinks(data.Files_Id)">({{data.Files_Id}}) {{data.Files_Name}}</a>
    </li>
  </ul>
</div>

